*.swp
*~
.DS_Store
.bundle
.rvmrc
bin
config/database.yml
config/initializers/tagteam_shared_key.rb
config/resque_schedule.yml
config/sunspot.yml
config/tagteam.yml
config/unicorn.rb
db/*.sqlite3
doc/app
log/
nginx/
pgsql/
redis/
solr/data/*
solr/pids/
tmp/
var/
redis/
add_test_mappings.vim
run-test-listener.sh
