*.swp
*~
.DS_Store
.bundle
.rvmrc
bin/camp-restart-hook.sh
config/initializers/tagteam_shared_key.rb
config/database.yml
config/sunspot.yml
config/tagteam.yml
config/unicorn.rb
db/*.sqlite3
doc/app
log/
nginx/
pgsql/
redis/
solr/*/data/
solr/pids/
./tags
tmp/
var/
redis/
spec/examples.txt
add_test_mappings.vim
run-test-listener.sh
