<%= documentation('republished-feed-removals-tab') %>
<h3>Remove</h3>
<p>The feeds, tags, searches and items below are removed from this feed before publishing.</p>
<%= render :partial => 'shared/line_items/input_source', :collection => @republished_feed.input_sources.reject{|ins| ins.effect != 'remove'}, :locals => {:effect => 'add'} %>
<% if current_user && current_user.is?(:owner, @republished_feed) %>
  <p>Remove items from this remixed feed by using the controls throughout this hub.</p>
<% end %>
