<% content_for :top_panel do %>
  <%= render partial: 'top_panel' %>
<% end %>

<% content_for :tabs do %>
  <%= render partial: 'tabs', locals: { active: 'about' } %>
<% end %>

<% content_for :tab_content do %>
  <div class="nicely-padded">
    <h3>Description:</h3>
    <% unless @republished_feed.description.blank? %>
      <%= raw(@republished_feed.description) %>
    <% end %>

    <h3>Owners:</h3>
    <%= @republished_feed.owners.collect{|o| o.username}.join(', ') %>
  </div>
<% end %>
