<div class="documentation" id="documentation_<%= @documentation.id %>">
  <div class="description"><%= raw((@documentation.description.blank?) ? 'Coming soon.' : @documentation.description)  %></div>
  <% if current_user && current_user.is?([:superadmin, :documentation_admin]) %>
    <%= link_to(raw(fa_icon('pencil')), edit_documentation_path(@documentation)) %>
  <% end %>
</div>
