<div class="documentation" id="documentation_<%= @documentation.id %>">
  <h2><%= @documentation.display_title %>
    <% if current_user && (current_user.has_role?(:superadmin) || current_user.has_role?(:documentation_admin)) %>
      <sup><%= link_to('edit', edit_documentation_path(@documentation)) %></sup>
    <% end %>
  </h2>
  <div class="description"><%= raw((@documentation.description.blank?) ? 'Coming soon.' : @documentation.description)  %></div>
</div>
