/* works schema-less! Sweet. */
@import url(//fonts.googleapis.com/css?family=Carme);

body{
  background: url('/images/bgstripe.png');
  font-size: 12pt;
  font-family: Verdana;
}

header{
  margin-top: 10px;
  background: #ccc;
  padding: 10px;
  border-radius: 10px;
}

nav{
  padding: 10px;
  color: #fff;
}

nav a{
  color: #fff;
}

h1, h2, h3, h4{
  font-family: Carme, serif;
  color: #222;
  margin-bottom: .5em;
}

h1{
  font-size:2em;
}

h2{
  font-size:1.5em;
}

h3{
  font-size: 1.25em;
  margin-top: .5em;
}

#wrapper{
  float: left;
  background: #333;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 10px 10px 10px #000;
}

section#content{
  padding: 10px;
  background: white;
  border-radius: 5px;
  line-height: 1.4em;
}

header h1{
  font-size: 3em;
  text-shadow: 3px 3px 3px #555;
  margin-bottom: 0em;
}

header h1 a{
  color: #222;
  text-decoration: none;
}

.error{
  color: red;
}

.notice{
  color: green;
}

a.delete{
  font-size: 11px;
  margin-left: 2em;
}

div.error, div.notice{
  font-size: 0.9em;
  font-weight: bold;
  margin: 10px;
  background: white;
  padding: 5px;
  border-radius: 5px;
}

.formtastic .create, 
.formtastic .edit,
a.button, 
#feed_feed_url_input p.inline-hints{
	background: #7a000d;
	color:white;
	padding: 5px;
	border-radius: 10px;
	border: 3px outset #ccc;
}

#feed_feed_url_input p.inline-hints{
  width: 6em;
}

.formtastic .create:hover, 
.formtastic .edit:hover,
a.button:hover,
#feed_feed_url_input p.inline-hints:hover{
	cursor: pointer;
}

a:hover{
  color: red;
}

.hub_feed,
.republished_feed,
.feed_item
{
  margin-bottom: .5em;
  font-size: 10pt;
  line-height: 1.2em;
}

.metadata{
  font-size: .8em;
  color: #444;
}

.more{
  float: right;
  font-size: .9em;
}

.metadata{
  display: none;
}

.tag{
  font-size: 8pt;
  height: 15px;
  background: #ccc top left url('/images/bg_dot.png') no-repeat;
  background-position:5px 7px;
  border: 1px solid #aaa;
  padding: 1px 5px 1px 15px;
  float: left;
  display: block;
  margin: 0px 8px 4px 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  line-height: 12px;
  text-decoration: none;
}

.tag{
  color: black;
}

.tag:hover{
  background-color: #e4e4e4;
}

.smaller{
  font-size: smaller;
}

.smaller, .smaller a{
  color: #aaa;
}

input#feed_url, input#filter_by{
  width: 30em;
  font-size: 14pt;
  padding: 5px;
	color: #7a000d;
}

input#filter_by{
  width: 15em;
}

.over{
  background-color: #e4e4e4;
}

footer{
  text-align: right;
  padding: 10px;
  font-size: .8em;
  color: #444; 
}
