a.button, #feed_feed_url_input p.inline-hints{
	background: #ccc;
	width: 6em;
	color: black;
	padding: 5px;
	border-radius: 5px;
	border: 3px outset #ccc;
}

a.button:hover, #feed_feed_url_input p.inline-hints:hover{
	cursor: pointer;
}

.error{
  font-size: larger;
  color: red;
}
.information{
  color: green;
}
div.information, div.error{
  margin: 10px;
}
