/* works schema-less! Sweet. */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Oxygen:700);

/* Color theme from http://kuler.adobe.com/#themeID/1799856
 
Dark #151c21
Red/orange #a33724
white #ffffff
gray #bfbfbf
darkbrown #302825 

*/

body, html {
  height: 100%;
}

body{
  background-color: #FFFFFF;
  font-size: 11pt;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4em;
  overflow-y: scroll;
}

header {
  background: #f5f5f5; /* Old browsers */
  background: -moz-linear-gradient(top,  #f5f5f5 0%, #ebebeb 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f5f5f5 0%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f5f5f5 0%,#ebebeb 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f5f5f5 0%,#ebebeb 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f5f5f5 0%,#ebebeb 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
  text-shadow: 0px 1px 0px #FFFFFF;
  filter: dropshadow(color=#FFFFFF, offx=0, offy=1);
  color: #000;
  padding: 5px 0px;
}

nav {
  text-align: right;
}

nav a {
  text-decoration: none;
}

a{
  color: #333;
}

ol{
  list-style: decimal outside none;
  margin-bottom: .5em;
}

ul{
  list-style: disc outside none;
  margin-bottom: .5em;
}

li{
  margin-left: 1.5em;
}

dt{
  font-weight: bold;
  margin-top: .5em;
}

dd{
  margin-left: 1em;
}
ul.tag_filter_controls li{
  list-style:none;
  margin-left: 0px;
}

hr{
  border-style: dotted;
  border-width: 1px 0 0;
}

#spinner{
  position: fixed;
  top: 10px; 
  right: 10px;
}

.clear{
  clear: both;
}

#left{
  float: left;
  width: 48%;
  padding: 5px;
}

#right{
  float: right;
  width: 48%;
  padding: 5px;
}

sup{
  vertical-align: super;
  font-size: smaller;
}

h1, h2, h3, h4{
  font-family: "Oxygen", serif;
  color: #222;
  margin-bottom: .5em;
  line-height: 1.4em;
}

h1{
  font-size:2em;
  border-bottom: 1px solid #999;
  padding-bottom: 0.1em;
}

h1 sup{
  font-size: 8pt;
}

h2{
  font-size:1.5em;
}

h3{
  font-size: 1.25em;
  margin-top: .5em;
}

#homepage h2{
  margin-top: 0px;
}

div.description div,
p{
  margin-bottom: .5em;
}

div.description ol, div.description ul{
  margin-top: .5em;
}

table {
  width: 100%;
}
table td{
  padding: 3px;
}

blockquote{
  margin: .5em 1.5em .5em 1.5em;
  color: #666;
  font-size:8pt;
}

.user_meta {
  text-shadow: none;
  font-size: 0.8em;
}
.breadcrumbs_holder {
  padding: 2px 0px;
  border-bottom: 1px solid #ebebeb;
}

.breadcrumbs{
  font-size: 8pt;
  opacity: 0.5;
}

.breadcrumbs:hover{
  opacity: 1;
}

.breadcrumbs a{
  text-decoration: none;
  color: black;
}

.breadcrumbs a:hover{
  text-decoration: underline;
}

.page_browsing_controls{
  text-align: center;
  margin: 0px auto;
}

.pagination{
  text-align: center;
  font-size: 12px;
  padding: .25em 0em .25em 0em;
  display: inline;
}


.documentation_control{
  float: right;
  font-size: 11px;
  border: 1px #ccc;
  border-style: none none dotted dotted;
  padding: 0px 0px 3px 3px;
  margin: 0px 0px 3px 3px;
}

a.documentation_control{
  text-decoration: none;
}

a.documentation_control:hover{
  text-decoration: underline;
}

#outer_wrapper {
  min-height: 100%;
  position: relative;
}

#wrapper{
  margin: 0 auto;
  padding-bottom: 40px;
}

section#content{
  padding: 10px 0;
  background: white;
  line-height: 1.4em;
}

table.feed_items{
  width: 100%;
}

.feed_item .description{
  padding: 10px;
  border: 4px solid #ccc;
  border-width: 0 0 0 4px;
  font-size: 12px;
}

.feed_item_title .ui-silk-cog.inline {
  margin-bottom: 7px;
}

.feed_item_tags {
  margin-top: 0.5em;
}

.feed_item_tags td{
  padding-bottom: 1.5em;
}

table.hub_feeds, table.republished_feeds{
  width: 100%;
}

table.hub_feeds td:nth-child(2), table.republished_feeds td:nth-child(2){
  text-align: right;
}
table.hub_feeds td:nth-child(2) a, table.republished_feeds td:nth-child(2) a{
  text-align: left;
}

.form_controls li, .search_controls li{
  padding-top: 1em;
  list-style-type: none;
  margin-left: 0em;
}

.search_controls li {
  padding-top: 0;
}

.search_controls h4 {
  margin-top: 1em;
}

#find_user_autocomplete {
  margin-bottom: 0.8em;
}

.search_controls span.role{
  display: inline-block;
}

li.title{
  list-style-type: none;
}

.search_controls li.container, .search_controls li.container{
  padding: .1em 0px .25em 1.75em;
}
.search_select{
  display: inline-block;
  border: 1px solid #ccc;
  padding: 0px 5px 0px 5px; 
  font-size: 13px;
  color: black;
  margin: 4px 10px 4px 4px;
  background-color: #e4e4e4;
}

.search_select_control{
  font-weight: bold;
}
.search_select_control:hover{
  cursor: pointer;
}

.feed_item td {
  padding-bottom: 2em;
}

.feed_item_feed{
  color: #999999;
  font-size: 12px;
  display: block;
}

.feed_item_feed a{
  color: #999999;
  text-decoration: none;
  border-bottom: 1px #999 dotted;
}

.feed_item_feed a:hover{
  text-decoration: none;
}

.feed_item_title a {
  font-size: 1.5em;
}

.page_browsing_controls {
  padding: 5px;
  margin: 10px 0;
}

.per_page_selector {
  padding: 1px 4px;
}

.per_page_selector option {
  text-shadow: none;
}

header h1{
  font-size: 1em;
  margin: 0;
  border-bottom: none;
}

header h1 a{
  color: #222;
  text-decoration: none;
}

.error{
  color: red;
}

.notice{
  color: green;
}

.alert{
  color: #555;
}


.info{
  margin: 1em 0em;
  padding: 1em 0em;
  color: #555;
}

a.delete{
  font-size: 11px;
  margin-left: 2em;
}

div.error, div.notice, div.alert{
  font-size: 0.9em;
  font-weight: bold;
  margin: 10px 0;
  background: white;
  padding: 5px;
  border-radius: 5px;
}

li.action input,
input.button,
a.button,
button:not([role='button']) {
	background: #a33724; /* Old browsers */
  background: -moz-linear-gradient(top, #a33724 0%, #91000f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a33724), color-stop(100%,#91000f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a33724 0%,#91000f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a33724 0%,#91000f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a33724 0%,#91000f 100%); /* IE10+ */
  background: linear-gradient(to bottom, #a33724 0%,#91000f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a33724', endColorstr='#91000f',GradientType=0 ); /* IE6-9 */
	color:white;
	padding: 0 1em;
  line-height: 1.6em; 
	border-radius: 0.2em;
  display: inline-block;
	border: 1px #420007 solid;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
  text-shadow: 0px 1px 0px #420007;
  text-decoration: none;
}

#contact_submit_action button {
  margin-left: 25%;
}

.hub_search .keyword_search_submit {
  display: block;
  line-height: 1.6em;
  width: 100%;
  margin-top: 0.5em;
}

.formtastic .create:hover, 
.formtastic .edit:hover,
.formtastic .update:hover,
input.button:hover,
a.button:hover{
  color: #ccc;
}

.formtastic .create:active, 
.formtastic .edit:active,
.formtastic .update:active,
input.button:active,
a.button:active{
  color: #AAAAAA;
}

.new_object{
  margin-top: .5em;
  font-weight: bold;
}

#feed_feed_url_input p.inline-hints{
  width: 6em;
}

.formtastic .create:hover, 
.formtastic .edit:hover,
a.button:hover,
#feed_feed_url_input p.inline-hints:hover{
	cursor: pointer;
}

a:hover{
  color: #a33724;
}

.hub,
.feed,
.hub_feed,
.republished_feed,
.feed_item,
.feed_item_tag,
.roles_on
{
  margin-bottom: .5em;
  font-size: 10pt;
  line-height: 1.6em;
}

#homepage .hub .title{
  font-size: 1.1em;
}

#homepage .hub a{
  text-decoration: none;
}

.search_result{
  font-size: 8pt;
  line-height: 12px;
  margin-bottom: 4px;
  float: left;
}

.metadata{
  font-size: .8em;
  color: #444;
}

.more{
  font-size: .9em;
  text-align: right;
}

.metadata dt{
  font-weight:bold;

}
.metadata dd{
  margin-bottom: .5em;
}

.tag{
  background-color: #999999;
  color:#FFF;
  border-radius: 8px;
  line-height: 1.6em; 
  padding:0 1em 2px;
  font-size:11px;
  margin:0 5px 5px 0;
  display:inline-block;
  text-decoration: none;
}

.tag:hover{
  background-color: #A33724;
}

a.tag {
  color: #FFFFFF;
  text-decoration: none;
}

a.tag:hover {
  text-decoration: none;
}

#user_role_filter_container{
  margin-bottom: 1em;
}
#user_role_filter_container span{
  display: inline-block;
  padding: 4px;
  background-color: #e4e4e4;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-left: 5px;
}

#user_role_filter_container span:hover{
  text-decoration: underline;
  cursor: pointer;
}

#tag_slider{
  margin-bottom: 1em;
}

.s1 { font-size: 1.0em; }
.s2 { font-size: 1.2em; }
.s3 { font-size: 1.4em; }
.s4 { font-size: 1.6em; }
.s5 { font-size: 1.8em; }
.s6 { font-size: 2em; }
.s7 { font-size: 2.2em; }
.s8 { font-size: 2.4em; }
.s9 { font-size: 2.6em; }
.s10 { font-size: 2.8em; }


.smaller{
  font-size: smaller;
}

.smaller, .smaller a{
  color: #aaa;
}

input#feed_url, input#filter_by{
  width: 30em;
  color: #7a000d;
}

input#q {
  color: #7a000d;
}

input[type=text], input[type=email], input[type=password], textarea {
  border: 2px solid #ccc;
  padding: 0.1em 0.2em;
}

input#filter_by{
  width: 15em;
}



.over{
  background-color: #e9e9e9;
}

.formtastic{
  font-size: 9pt;
}

.input_source{
  margin-bottom: 4px;
}

.controls, .controls a{
  line-height: 1.2em;
  font-size: 9pt;
  text-decoration: none;
}

.controls li{
  list-style-type: none;
  margin-left: 0em;
  margin-bottom: .25em;
}

.feed_retrievals th {
  text-align: left;
}

.feed_retrieval.success{
  color: #005500;
}

.feed_retrieval.failure{
 background-color: #ee0000;
}

.no_changes{
  background-color: #e4e4e4;
}

.tag_filter{
  margin-bottom: 2px;
  padding: 5px;
  border-radius: 5px;
}

.tag_filter.delete{
  background-color: #990000;
  color: white;
}

.tag_filter.add{
  background-color: #009900;
  color: white;
}

.tag_filter.modify{
  background-color: #bbb;
}

a:hover{
  text-decoration: underline;
}

footer{
  text-align: right;
  padding: 10px;
  font-size: .8em;
  color: #666; 
  position: relative;
  margin-top: -40px;
}

#background_jobs, #meta_about{
  color: #aaa; 

}

#background_jobs{
  float: left;
}

.ui-tabs {
  padding: 0;
  border-radius: 0;
  border: none;
}
.ui-tabs .ui-tabs-nav {
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  margin-left: 0;
}
.ui-tabs .ui-tabs-nav.ui-widget-header {
  background: none;
}
.ui-tabs .ui-tabs-panel {
  padding: 0;
}
.ui-tabs .ui-tabs-panel.ui-widget-content {
  border: 0;
}
#content .ui-tabs .ui-tabs-nav li{
  display: block;
  color: #000000;
  width: 100%;
  border-radius: 0;
  padding: 5px 0;
  margin: 0;
  background: none;
  background-color: #FFFFFF;
  border: none;
  border-bottom: 1px dotted #AAAAAA !important; /* jQuery UI uses important, so it needs to be used to override */
  border-right: 1px solid #AAAAAA;
}
#content .ui-tabs .ui-tabs-nav li a {
  color: #000000;
  padding: 0.5em 0;
  width: 100%;
  margin-left: 0.4em;
}
#content .ui-tabs .ui-tabs-nav li.ui-tabs-active {
  position:relative;
}
#content .ui-tabs-nav li.ui-state-default:hover {
  background-color: #ddd !important;
  cursor: pointer;
}
#content .ui-tabs-nav li.ui-state-active:hover {
  cursor: auto;
}
#content .ui-tabs-nav .ui-tabs-anchor {
  font-weight: normal;
}
#content .ui-tabs-nav .ui-tabs-active .ui-tabs-anchor {
  color: #A33724;
}
#content .ui-tabs .ui-tabs-nav li.hub_search{
  background-color: #EEE;
  border-bottom-width: 0px !important;
}
#content .ui-tabs .ui-tabs-nav li.hub_search form {
  padding: 5px;
}
#content .ui-tabs .ui-tabs-nav li.ui-tabs-active:after, #content .ui-tabs .ui-tabs-nav li.ui-tabs-active:before {
  right:-1px;
  border:solid transparent;
  content:" ";
  height:0;
  width:0;
  position:absolute;
  pointer-events:none;
}
#content .ui-tabs .ui-tabs-nav li.ui-tabs-active:after {
  border-color:rgba(255,255,255,0);
  border-right-color:#FFFFFF;
  border-width:6px;
  top:50%;
  margin-top:-6px;
}
#content .ui-tabs .ui-tabs-nav li.ui-tabs-active:before {
  border-color:rgba(170,170,170,0);
  border-right-color:#AAAAAA;
  border-width:7px;
  top:50%;
  margin-top: -7px;
}

.export_menu {
  display: inline-block;
  font-size: 0.5em;
  vertical-align: middle;
  float: right;
  position: relative;
  padding-top:0.5em;
}

.export_menu h4 {
  margin-bottom: 0;
  line-height: 2em;
  color: #AAA;
}

.export_menu > div {
  display: none;
  position: absolute;
  top: 2.5em;
  left: 50%;
  width: 60px;
  margin-left: -31px;
  background:#DDD;
  border:2px solid #CCC;
  z-index: 100;
}
.export_menu > div:after, .export_menu > div:before {
  bottom:100%;
  border:solid transparent;
  content:" ";
  height:0;
  width:0;
  position:absolute;
  pointer-events:none;
}
.export_menu > div:after {
  border-color:rgba(221,221,221,0);
  border-bottom-color:#DDD;
  border-width:6px;
  left:50%;
  margin-left:-6px;
}
.export_menu > div:before {
  border-color:rgba(204,204,204,0);
  border-bottom-color:#CCC;
  border-width:7px;
  left:50%;
  margin-left: -7px;
}

.export_menu:hover > div {
  display: inline-block;
}

.export_menu a{
  padding: 10px;
  line-height: 0.8em;
  display: block;
  font-weight: normal;
  text-decoration: none;
}
.export_menu a:hover {
  text-decoration: underline;
}

.remove_roles table tr {
  text-align: left;
}

.remove_roles table {
  margin-bottom: 0.8em;
}

.ui-helper-hidden-accessible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
}
