/* works schema-less! Sweet. */
@import url(//fonts.googleapis.com/css?family=Carme);

body{
  background: url('/images/bgstripe.png');
  font-size: 11pt;
  font-family: Arial, sans-serif;
}

a{
  color: #333;
}

ol{
  list-style: decimal outside none;
  margin-bottom: .5em;
}

ul{
  list-style: disc outside none;
  margin-bottom: .5em;
}

li{
  margin-left: 1.5em;
}

ul.tag_filter_controls li{
  list-style:none;
  margin-left: 0px;
}

#spinner{
  position: fixed;
  top: 15px; 
  right: 15px;
}

sup{
  vertical-align: super;
  font-size: smaller;
}

header{
  margin-top: 10px;
  background: #ccc;
  padding: 10px;
  border-radius: 10px;
}

nav{
  padding: 10px;
  color: #fff;
}

nav a{
  color: #fff;
}

h1, h2, h3, h4{
  font-family: Carme, serif;
  color: #222;
  margin-bottom: .5em;
  line-height: 1.4em;
}

h1{
  font-size:2em;
}

h1 sup{
  font-size: 8pt;
}

h2{
  font-size:1.5em;
}

h3{
  font-size: 1.25em;
  margin-top: .5em;
}

p{
  margin-bottom: .5em;
}

table {
  width: 100%;
}
table td{
  padding: 3px;
}

blockquote{
  margin: .5em 1.5em .5em 1.5em;
  color: #666;
  font-size:8pt;
}

.breadcrumbs{
  font-size: 8pt;
  opacity: 0.5;
}

.breadcrumbs:hover{
  opacity: 1;
}

.breadcrumbs a{
  text-decoration: none;
  color: black;
}

.breadcrumbs a:hover{
  text-decoration: underline;
}

.page_browsing_controls{
  text-align: center;
  margin: 0px auto;
}

.pagination{
  text-align: center;
  font-size: 12px;
  padding: .25em 0em .25em 0em;
  display: inline;
}

.per_page_selector_container{
  font-size: 12px;
  margin-right: 8em;
}

.documentation_control{
  float: right;
  font-size: 11px;
  border: 1px #ccc;
  border-style: none none dotted dotted;
  padding: 0px 0px 3px 3px;
  margin: 0px 0px 3px 3px;
}

a.documentation_control{
  text-decoration: none;
}

a.documentation_control:hover{
  text-decoration: underline;
}


#wrapper{
  float: left;
  background: #333;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 10px 10px 10px #000;
}

section#content{
  padding: 10px;
  background: white;
  border-radius: 5px;
  line-height: 1.4em;
}

table.feed_items{
  width: 100%;
}

.feed_item .content, .feed_item .description{
  padding: 10px;
  background: #f4f4f4;
  border: 4px solid #ccc;
  border-radius: 10px;
  font-size: 12px;
}

.feed_item .title{
  padding-top: .5em;
  font-size: 18px;
}

.feed_item_tags td{
  padding-bottom: 1.5em;
}

table.hub_feeds, table.republished_feeds{
  width: 100%;
}

.search_controls li{
  padding-top: 1em;
}

.search_controls li.container{
  padding: .1em 0px .25em 1.75em;
}

.search_select{
  display: inline-block;
  border: 1px solid #ccc;
  padding: 0px 5px 0px 5px; 
  font-size: 13px;
  color: black;
  margin: 4px 10px 4px 4px;
  background-color: #e4e4e4;
}

.search_select_control{
  font-weight: bold;
}
.search_select_control:hover{
  cursor: pointer;
}

.hub_feed_title{
  opacity: 0.5;
  font-size: 12px;
}

.hub_feed_title:hover{
  opacity: 1;
}

header h1{
  font-size: 3em;
  text-shadow: 3px 3px 3px #555;
  margin-bottom: 0em;
}

header h1 a{
  color: #222;
  text-decoration: none;
}

.error{
  color: red;
}

.notice{
  color: green;
}

a.delete{
  font-size: 11px;
  margin-left: 2em;
}

div.error, div.notice{
  font-size: 0.9em;
  font-weight: bold;
  margin: 10px;
  background: white;
  padding: 5px;
  border-radius: 5px;
}

.formtastic .create, 
.formtastic .edit,
.formtastic .update,
input.button,
a.button{
	background: #7a000d;
	color:white;
	padding: 2px 4px 2px 4px;
	border-radius: 10px;
	border: 3px outset #ccc;
}

.hub_search{
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.formtastic .create:hover, 
.formtastic .edit:hover,
.formtastic .update:hover,
input.button:hover,
a.button:hover{
  color: #ccc;
}

.new_object{
  margin-top: .5em;
  font-weight: bold;
}

#feed_feed_url_input p.inline-hints{
  width: 6em;
}

.formtastic .create:hover, 
.formtastic .edit:hover,
a.button:hover,
#feed_feed_url_input p.inline-hints:hover{
	cursor: pointer;
}

a:hover{
  color: red;
}

.feed,
.hub_feed,
.republished_feed,
.feed_item,
.feed_item_tag
{
  margin-bottom: .5em;
  font-size: 10pt;
  line-height: 1.2em;
}

.search_result{
  font-size: 8pt;
  line-height: 12px;
  margin-bottom: 4px;
  float: left;
}

.metadata{
  font-size: .8em;
  color: #444;
}

.more{
  font-size: .9em;
  text-align: right;
}

.metadata dt{
  font-weight:bold;

}
.metadata dd{
  margin-bottom: .5em;
}

.tag{
  background: #ccc top left url('/images/bg_dot.png') no-repeat;
  background-position:5px 7px;
  border: 1px solid #aaa;
  padding: 0px 5px 0px 15px;

  /* Will probably cause problems with some versions of ie */
  display: inline-block;

  margin: 0px 8px 4px 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-decoration: none;
  line-height: 1.6em;
  color: black;
  font-size: 11px;
}

a.tag {
  color: black;
}

#tag_slider{
  margin-bottom: 1em;
}

.tag:hover{
  background-color: #e4e4e4;
}

.s1 { font-size: 1.0em; }
.s2 { font-size: 1.2em; }
.s3 { font-size: 1.4em; }
.s4 { font-size: 1.6em; }
.s5 { font-size: 1.8em; }
.s6 { font-size: 2em; }
.s7 { font-size: 2.2em; }
.s8 { font-size: 2.4em; }
.s9 { font-size: 2.6em; }
.s10 { font-size: 2.8em; }


.smaller{
  font-size: smaller;
}

.smaller, .smaller a{
  color: #aaa;
}

input#feed_url, input#filter_by{
  width: 30em;
  font-size: 14pt;
  padding: 5px;
	color: #7a000d;
}

input#filter_by{
  width: 15em;
}

.over{
  background-color: #e4e4e4;
}

.formtastic{
  font-size: 9pt;
}

.input_source{
  margin-bottom: 4px;
}

.controls, .controls a{
  line-height: 1.2em;
  font-size: 9pt;
  text-decoration: none;
}

.feed_retrieval.success{
  color: #005500;
}

.feed_retrieval.failure{
 background-color: #ee0000;
}

.no_changes{
  background-color: #e4e4e4;
}

.tag_filter{
  margin-bottom: 2px;
  padding: 2px;
  border-radius: 5px;
}

.tag_filter.delete{
  background-color: #990000;
  color: white;
}

.tag_filter.add{
  background-color: #009900;
  color: white;
}

.tag_filter.modify{
  background-color: #bbb;
}

a:hover{
  text-decoration: underline;
}

footer{
  text-align: right;
  padding: 10px;
  font-size: .8em;
  color: #444; 
}
