Hello,
\
#{@updated_by.username} has updated the tag record for an item you've previously tagged. You can find the current version of the record at this URL:
\
= @scope_url
\
Here are the recent updates to the record:
\
\  * Tags modified: #{@old_tag.name} was changed to #{@new_tag.name}
