<li class="<%= 'active' if active == 'about' %>">
  <%= link_to('About', user_path(@user)) %>
  <div class="nav-pill-arrow"></div>
</li> 
<% @user.things_i_have_roles_on.sort_by{|t| t.title }.each do |t| %>
  <li class="<%= 'active' if active == t.to_s %>">
    <%= link_to(t.title, roles_on_user_path(@user, roles_on: t)) %>
    <div class="nav-pill-arrow"></div>
  </li> 
<% end %>
