<div id="users">
  <h3>Users</h3>
  <div id="user_list">
    <%= render partial: 'shared/paginate', object: @users, as: :results %>
    <table class="table">
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th>User</th>
        <th>Owns</th>
        <th>App-wide rights</th>
        <th>Confirmed?</th>
        <th>Locked?</th>
      </tr>
      </thead>
      <tbody>
      <%= render partial: 'shared/line_items/user', collection: @users %>
      </tbody>
    </table>
    <%= render partial: 'shared/paginate', object: @users, as: :results %>
  </div>
</div>
