<div id="users">
  <h3>Users</h3>
  <div id="user_list">
    <%= will_paginate @users %>
    <table class="user_list">
      <tr>
        <th>&nbsp;</th>
        <th>Owns these hubs:</th>
        <th>Confirmed?</th>
        <th>Locked?</th>
      </tr>
      <%= render :partial => 'shared/line_items/user', :collection => @users %>
    </table>
    <%= will_paginate @users %>
  </div>
</div>
