<h1>Account info for <%= @user.email %></h1>
<div class="tabs">
  <ul>
    <li><a href="#about">About</a></li>
    <% unless @user.things_owned.blank? %>
      <% @user.things_owned.each do |t| %>
        <li><%= link_to(t, owned_user_path(@user,:owned => t)) %></li> 
      <% end %>
    <% end %>
  </ul>
  <div id="about">
    <%= @user.email %>
  </div>
</div>
