- if flash.present?
  - if flash[:notice].present?
    .alert.alert-success.alert-dismissable.col-md-12{ role: 'alert' }
      %button.close{ 'data-dismiss': 'alert', type: 'button' }
        %span{ 'aria-hidden': 'true' } ×
        %span.sr-only Close
      %strong= flash[:notice]
  - if flash[:error].present?
    .alert.alert-danger.alert-dismissable.col-md-12{ role: 'alert' }
      %button.close{ 'data-dismiss': 'alert', type: 'button' }
        %span{ 'aria-hidden': 'true' } ×
        %span.sr-only Close
      %strong= flash[:error]
  - if flash[:alert].present?
    .alert.alert-warning.alert-dismissable.col-md-12{ role: 'alert' }
      %button.close{ 'data-dismiss': 'alert', type: 'button' }
        %span{ 'aria-hidden': 'true' } ×
        %span.sr-only Close
      %strong= flash[:alert]
