- unless flash.blank?
  %section#notices.row
    - unless flash[:notice].blank?
      .alert.alert-success.alert-dismissable.col-md-12{:role => "alert"}
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %strong= flash[:notice]
    - unless flash[:error].blank?
      .alert.alert-danger.alert-dismissable.col-md-12{:role => "alert"}
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %strong= flash[:error]
    - unless flash[:alert].blank?
      .alert.alert-warning.alert-dismissable.col-md-12{:role => "alert"}
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %strong= flash[:alert]
