<footer class="footer container">
  <div class="col-md-12">
    <% if show_liblab? %>
      <%= image_tag 'LL_mini.png', alt: 'Library Lab Logo', class: 'll-logo' %>
      <p>
      Thanks to the generous support of the <a href="http://lab.library.harvard.edu/">Harvard Library Lab</a>, the <a href="https://osc.hul.harvard.edu">Harvard Library Office for Scholarly Communication</a>, the <a href="http://cyber.law.harvard.edu">Berkman Center for Internet &amp; Society</a> and the <a href="http://www.arcadiafund.org.uk">Arcadia Fund</a>.
      </p>
    <% end %>

    <small class="pull-right">
    <% unless current_user.blank? %>
      <%= link_to('Background jobs', '#', :id => 'background_jobs') %>
    <% end  %>
    </small>
  </div>
</footer>
