.jumbotron.text-center
  %h1.title= fa_icon 'bolt', text: 'TagTeam'
  %p The open-source tagging platform and feed aggregator.
  = link_to "Start a hub", new_hub_path, class: 'btn btn-primary btn-lg start-hub'
