<div class="jumbotron text-center">
  <h1 class="title"><%= fa_icon 'bolt', text: 'TagTeam' %></h1>
  <p>The open-source tagging platform and feed aggregator.</p>
  <%= link_to "Start a hub", new_hub_path, class: 'btn btn-primary btn-lg start-hub' %>
</div>
