   <div id="top_hub_list">
      <h2>Top 3 New Hubs</h2>
      <div class="search_results">
        <%= render :partial => 'shared/line_items/hub', :collection => Hub.top_new_hubs %>
    </div>
  </div>
