= form_tag(item_search_hub_path(@hub), :method => :get) do
  .input-group
    = text_field_tag :q, params[:q], size: 14, placeholder: 'Search', class: 'form-control'
    %span.input-group-btn
      = submit_tag('Go', class: 'btn btn-success keyword_search_submit')
