<% if @republished_feeds.size > 0 %>
  <h3>Remixed feeds</h3>
  <ul>
  <%= render :partial => 'shared/line_items/republished_feed_choice', :collection => @republished_feeds %>
  </ul>
<% else %>
  <div class="empty-message">
    <%= "None yet. You should create a remixed feed from the \"remixes\" tab on the hub page." %>
  </div>
<% end %>

<div class="republished_feed">
<%= link_to "Create new remix feed", hub_republished_feed_path(@hub, 0),
  target: '_blank', data_id: 0, class: 'btn btn-primary' %>
</div>
