<% unless request.xhr? %>
<div id="homepage">
  <div id="left">
    <h1>TagTeam...</h1>
    <p>is an open-source tagging platform and feed aggregrator with the power to:</p>
    <ul>
      <li>Tag online resources</li>
      <li>Generate feeds of tagged items</li>
      <li>Organize social-tagging projects</li>
      <li>Curate tags through a flexible filtering system</li>
      <li>Store tag records for deduping, preservation, export, modification, and search</li>
      <li>Aggregate feeds from other sources, including other tagging platforms</li>
      <li>Create custom feed remixes</li>
      <li>and republish everything as HTML, Atom, RSS, and JSON.</li>
    </ul>
  </div>
 <div id="right">
    <div id="hub_list">
      <h2>Hubs</h2>
      <div class="search_results">
<% end %>
        <%= render :partial => 'shared/line_items/hub', :collection => @hubs, :locals => {:limit => 100}  %>
        <%#= will_paginate(@hubs) %>
<% unless request.xhr? %>
      </div>
      <p id="pagination" data-total-pages="<%= @hubs.total_pages %>"></p>


      <% unless current_user.blank? %>
        <%= link_to(raw('<span class="inline ui-silk ui-silk-add"></span> New Hub'), new_hub_path, :class => 'new_object') %>
      <% end %>
      <% unless @hubs.empty? %>
        <%= link_to(raw('<span class="inline ui-silk"></span> All Hubs'), "/hubs/list") %>
      <% end %>
    </div>
  </div>
  <div class="clear" style="float: left;"></div>

  <div id="item_list" class="search_results">
  </div>
</div>
<% end %>
