<% content_for :top_panel do %>
  <h2 class="page-title">TagTeam hubs</h2>
<% end %>

<% content_for :tabs do %>
  <%= render partial: 'hub_tabs', locals: { active: 'all' } %>
<% end %>

<% content_for :tab_content do %>
  <%= render partial: 'hubs/hubs_list',
      locals: {
        hubs: @hubs,
        order: params[:order] || 'asc',
        sort: params[:sort] || 'title',
        path: 'hubs_path'
      }
  %>
<% end %>
