<div class="hubs tabs">
  <ul>
    <% unless current_user.blank? %>
      <li><a href="#my_hubs">My Hubs</a></li>
    <% end %>
    <li><a href="#all_hubs">All Hubs</a></li>
  </ul>

  <% unless current_user.blank? %>
    <div id="my_hubs"> 
      <h2>My hubs</h2>
      <%= render :partial => 'shared/line_items/hub', :collection => @my_hubs %>
      <%= link_to(raw('<span class="inline ui-silk ui-silk-plugin-add"></span> New Hub'), new_hub_path, :class => 'new_object') %>
    </div>
  <% end %>

  <div id="all_hubs">
    <h2>All Hubs</h2>
    <%= render :partial => 'shared/line_items/hub', :collection => @hubs %>
    <%= will_paginate(@hubs) %>
  </div>
</div>
