%h1 About TagTeam
%dl
  %dt Version:
  %dd 2.1.0.2
  %dt Source:
  %dd
    %a{:href => "http://github.com/berkmancenter/tagteam", :target => "_blank"} Github Repository
  %dt Thanks to:
  %dd
    %ul
      %li
        %a{:href => "http://blogs.law.harvard.edu/djcp/", :target => "_blank"} Dan Collis-Puro
        \- First Lead Developer
      %li
        %a{:href => "http://github.com/jdcc", :target => "_blank"} Justin Clark
        \- Second Lead Developer
      %li
        %a{:href => "http://www.tomasreimers.com/", :target => "_blank"} Tomas Reimers
        \- Developer
      %li
        %a{:href => "http://www.linkedin.com/in/briangadoury", :target => "_blank"} Brian 'Phunk' Gadoury
        \- Developer
      %li
        %a{:href => "http://github.com/mikefarmer", :target => "_blank"} Mike Farmer
        \- Developer
      %li
        %a{:href => "http://www.linkedin.com/in/marinalohova", :target => "_blank"} Marina Lohova
        \- Developer
      %li
        %a{:href => "http://cyber.law.harvard.edu/~psuber/wiki/Peter_Suber", :target => "_blank"} Peter Suber
        \- Idea Guy
      %li
        %a{:href => "http://osc.hul.harvard.edu/liblab", :target => "_blank"} Harvard Library Lab
        \- Funding and support
%h2 Documentation
%dl
  %dt Introduction
  %dd
    = succeed "." do
      %a{:href => "http://bit.ly/tagteam-intro"} See our introduction to TagTeam
  %dt Basics
  %dd
    = succeed "." do
      %a{:href => "http://bit.ly/tagteam-basics", :target => "_blank"} See our short manual or user documentation for TagTeam
  %dt Inline
  %dd
    Look for the
    %i.fa.fa-question-circle
    links sprinkled around the site.
  %dt For developers
  %dd
    %p The conceptual docs and the generated rdoc (download TagTeam and run "rake doc:app" in the $RAILS_ROOT) should get you relatively far.
    See
    %a{:href => "https://github.com/berkmancenter/tagteam/blob/master/README.rdoc", :target => "_blank"} the README
    and
    %a{:href => "https://github.com/berkmancenter/tagteam/raw/master/doc/ddl.png", :target => "_blank"} the DDL
    for an overview of how all the pieces fit together.
%h2 Bugs
%p
  Please report them
  %a{:href => "https://github.com/berkmancenter/tagteam/issues"} to the github issue tracker.
%h2 Administrative
%dl
  %dt Copyright
  %dd
    © 2011 - #{Time.now.year} President and Fellows of Harvard College
  %dt License
  %dd TagTeam is licensed under the AGPL.
  %dt Terms of service
  %dd
    %a{:href => "http://cyber.law.harvard.edu/hoap/TagTeam_terms_of_service"} See the terms of service
    governing the Harvard instance of TagTeam.
