<h1>About TagTeam</h1>
<dl>
  <dt>Version:</dt>
  <dd>1.0</dd>

  <dt>Source:</dt>
  <dd><a href="http://github.com/berkmancenter/taghub" target="_blank">Github Repository</a></dd>

  <dt>Thanks to:</dt>
  <dd></dd>

</dl>
