<h1>About TagTeam</h1>
<dl>
  <dt>Version:</dt>
  <dd>1.2</dd>

  <dt>Source:</dt>
  <dd><a href="http://github.com/berkmancenter/tagteam" target="_blank">Github Repository</a></dd>

  <dt>Thanks to:</dt>
  <dd>
  <a href="http://blogs.law.harvard.edu/djcp/" target="_blank">Dan Collis-Puro</a> - First Lead Developer<br/>
  <a href="http://github.com/jdcc" target="_blank">Justin Clark</a> - Second Lead Developer<br/>
  <a href="http://www.tomasreimers.com/" target="_blank">Tomas Reimers</a> - Developer<br/>
  <a href="http://www.linkedin.com/in/briangadoury" target="_blank">Brian 'Phunk' Gadoury</a> - Developer<br/>
  <a href="http://github.com/mikefarmer" target="_blank">Mike Farmer</a> - Developer<br/>
  <a href="http://www.linkedin.com/in/marinalohova" target="_blank">Marina Lohova</a> - Developer<br/>
  <a href="http://bit.ly/suber-gplus" target="_blank">Peter Suber</a> - Idea Guy<br/>
  <a href="http://osc.hul.harvard.edu/liblab" target="_blank">Harvard Library Lab</a> - Funding and support<br/>
  </dd>

  <dt>Documentation:</dt>
  <dd><strong>Introduction:</strong> An introduction to the TagTeam platform can be found at the <a href="http://bit.ly/tagteam-intro">Harvard Open Access Project wiki</a>.</dd>
  <dd><strong>Inline:</strong> Look for the <strong><span class="inline ui-silk ui-silk-information"></span> Help!</strong> links sprinkled around the site.<br/>
  <strong>Conceptual:</strong> See <a href="https://github.com/berkmancenter/tagteam/blob/master/README.rdoc" target="_blank">the README</a> and <a href="https://github.com/berkmancenter/tagteam/raw/master/doc/ddl.png" target="_blank">the DDL</a> for an overview of how all the pieces fit together.<br/>
  <strong>For Developers:</strong> The conceptual docs and the generated rdoc (download TagTeam and run "rake doc:app" in the $RAILS_ROOT) should get you relatively far.
  </dd>

  <dt>Bugs:</dt>
  <dd>Please report them <a href="https://github.com/berkmancenter/tagteam/issues">to the github issue tracker.</a></dd>

  <dt>Administrative:</dt>
  <dd><strong>Copyright:</strong> &copy; 2011 - <%= Time.now.year %> President and Fellows of Harvard College</dd>
  <dd><strong>License:</strong> TagTeam is licensed under the AGPL</dd>
  <dd><strong>Terms Of Service:</strong> The TagTeam terms of service can be found on the <a href="http://cyber.law.harvard.edu/hoap/TagTeam_terms_of_service">Harvard Open Access Project wiki</a></dd>

</dl>

