<h1>About TagTeam</h1>
<dl>
  <dt>Version:</dt>
  <dd>1.0</dd>

  <dt>Source:</dt>
  <dd><a href="http://github.com/berkmancenter/tagteam" target="_blank">Github Repository</a></dd>

  <dt>Thanks to:</dt>
  <dd>
  <a href="http://blogs.law.harvard.edu/djcp/" target="_blank">Dan Collis-Puro</a> - Lead Developer<br/>
  <a href="http://www.earlham.edu/~peters/" target="_blank">Peter Suber</a> - Idea Guy<br/>
  <a href="http://osc.hul.harvard.edu/liblab" target="_blank">Harvard Library Lab</a> - Funding and support<br/>
  </dd>

  <dt>Documentation:</dt>
  <dd><strong>Inline:</strong> Look for the <strong><span class="inline ui-silk ui-silk-information"></span> Help!</strong> links sprinkled around the site.<br/>
  <strong>Conceptual:</strong> See <a href="https://github.com/berkmancenter/tagteam/blob/master/README.rdoc" target="_blank">the README</a> and <a href="https://github.com/berkmancenter/tagteam/raw/master/doc/ddl.png" target="_blank">the DDL</a> for an overview of how all the pieces fit together.<br/>
  <strong>For Developers:</strong> The conceptual docs and the generated rdoc (download TagTeam and run "rake doc:app" in the $RAILS_ROOT) should get you relatively far.
  </dd>

  <dt>Bugs:</dt>
  <dd>Please report them <a href="https://github.com/berkmancenter/tagteam/issues">to the github issue tracker.</a></dd>

</dl>
