<h1>About TagTeam</h1>
<dl>
  <dt>Version:</dt>
  <dd>1.6</dd>

  <dt>Source:</dt>
  <dd><a href="http://github.com/berkmancenter/tagteam" target="_blank">Github Repository</a></dd>

  <dt>Thanks to:</dt>
  <dd>
  <ul>
    <li><a href="http://blogs.law.harvard.edu/djcp/" target="_blank">Dan Collis-Puro</a> - First Lead Developer</li>
    <li><a href="http://github.com/jdcc" target="_blank">Justin Clark</a> - Second Lead Developer</li>
    <li><a href="http://www.tomasreimers.com/" target="_blank">Tomas Reimers</a> - Developer</li>
    <li><a href="http://www.linkedin.com/in/briangadoury" target="_blank">Brian 'Phunk' Gadoury</a> - Developer</li>
    <li><a href="http://github.com/mikefarmer" target="_blank">Mike Farmer</a> - Developer</li>
    <li><a href="http://www.linkedin.com/in/marinalohova" target="_blank">Marina Lohova</a> - Developer</li>
    <li><a href="http://cyber.law.harvard.edu/~psuber/wiki/Peter_Suber" target="_blank">Peter Suber</a> - Idea Guy</li>
    <li><a href="http://osc.hul.harvard.edu/liblab" target="_blank">Harvard Library Lab</a> - Funding and support</li>
  </ul>
  </dd>
</dl>

<h2>Documentation</h2>
<dl>
  <dt>Introduction</dt>
  <dd>An introduction to TagTeam can be found at the
    <a href="http://bit.ly/tagteam-intro">Harvard Open Access Project wiki</a>.
  </dd>

  <dt>Basics</dt>
  <dd>More general usage help can also be found in the 
    <a href="http://bit.ly/tagteam-basics" target="_blank">HOAP wiki</a>.
  </dd>

  <dt>Inline</dt>
  <dd>
    Look for the <i class="fa fa-question-circle"></i> links sprinkled around the site.
  </dd>

  <dt>For developers</dt>
  <dd>
    <p>The conceptual docs and the generated rdoc (download TagTeam and run "rake doc:app" in the $RAILS_ROOT) should get you relatively far.</p>
    See <a href="https://github.com/berkmancenter/tagteam/blob/master/README.rdoc" target="_blank">the README</a>
    and <a href="https://github.com/berkmancenter/tagteam/raw/master/doc/ddl.png" target="_blank">the DDL</a>
    for an overview of how all the pieces fit together.
  </dd>
</dl>

<h2>Bugs</h2>
<p>Please report them <a href="https://github.com/berkmancenter/tagteam/issues">to the github issue tracker.</a></p>

<h2>Administrative</h2>
<dl>
  <dt>Copyright</dt>
  <dd>&copy; 2011 - <%= Time.now.year %> President and Fellows of Harvard College</dd>

  <dt>License</dt>
  <dd>TagTeam is licensed under the AGPL.</dd>

  <dt>Terms of service</dt>
  <dd>The TagTeam terms of service can be found on the <a href="http://cyber.law.harvard.edu/hoap/TagTeam_terms_of_service">Harvard Open Access Project wiki</a>.</dd>
</dl>
