<% content_for :top_panel do %>
  <h2 class="page-title">My hubs</h2>
<% end %>

<% content_for :tabs do %>
  <%= render partial: 'tabs', locals: { active: 'mine' } %>
<% end %>

<% content_for :tab_content do %>
  <%= render partial: 'hubs/hubs_list',
      locals: {
        hubs: @hubs,
        order: params[:order] || 'asc',
        sort: params[:sort] || 'title',
        path: 'my_hubs_path'
      }
  %>
<% end %>
