- content_for :top_panel do
  = render partial: 'hubs/top_panel', locals: { hub: @hub }
- content_for :tabs do
  = render partial: 'hubs/tabs', locals: { active: 'scoreboard' }
- content_for :tab_content do
  = render partial: 'user_list_item', locals: { taggers: @taggers, order: params[:order] || 'asc', sort: @sort || 'name', path: 'scoreboard_hub_path', hub: @hub }
