<div class="controls">
  <ul>
    <li><%= link_to("View items tagged with #{@tag.name}", hub_tag_path(@hub,@tag)) %></li>
  </ul>
  <h3>Filters:</h3>
  <ul>
    <li><strong>For all items in this hub:</strong>
    <% if @already_filtered %>
    <p>This tag has already been used in a tag-wide filter.</p>
  <% else %>
    <br/>
    <%= link_to 'Add', hub_hub_tag_filters_path(@hub), :data_id => @tag.id, :data_type => 'AddTagFilter', :class => 'add_filter_control hub_tag_filter' %> | 
    <%= link_to 'Modify', hub_hub_tag_filters_path(@hub), :data_id => @tag.id, :data_type => 'ModifyTagFilter', :class => 'add_filter_control hub_tag_filter' %> | 
    <%= link_to 'Delete', hub_hub_tag_filters_path(@hub), :data_id => @tag.id, :data_type => 'DeleteTagFilter', :class => 'add_filter_control hub_tag_filter' %>
  <% end %>
    </li>
    <li><strong>For all items in this feed:</strong><br/>
Add | Modify | Delete
    </li>
    <li><strong>For only this item:</strong><br/>
    Add | Modify | Delete
    </li>
  </ul>
  <h3>Publishing:</h3>
  <ul>
    <li>Add to a republished feed</li>
  </ul>
</div>
