<div class="controls">
  <ul>
    <li><%= link_to("View items tagged with #{@tag.name}", hub_tag_path(@hub,@tag)) %></li>
  </ul>
  <h3>Filters:</h3>
  <ul>
    <li><strong>Hub:</strong><br/>
    Add
    Modify
    Delete
    </li>
    <li>Feed level</li>
    <li>Item level</li>
  </ul>
  <h3>Publishing:</h3>
  <ul>
    <li>Add to a republished feed</li>
  </ul>
</div>
