-# required by some JS functions to initialize popups
#bookmarklet_allowed

.page-header
  %ul.nav.nav-pills.pull-right{:role => "tablist"}
    %li.active{:role => "presentation"}
      %a{"data-toggle" => "tab", :href => "#basics"} Basics
    %li{:role => "presentation"}
      %a{"data-toggle" => "tab", :href => "#advanced"} Advanced
  - unless @mini_title.blank?
    %h1= fa_icon 'bolt', text: @mini_title
= render :partial => 'shared/forms/feed_item_bookmarklet'
