<div class="page-header">
  <ul class="nav nav-pills pull-right" role="tablist">
    <li role="presentation" class="active"><a data-toggle="tab" href="#basics">Basics</a></li>
    <li role="presentation"><a data-toggle="tab" href="#advanced">Advanced</a></li>
  </ul>
  <% unless @mini_title.blank? %>
    <h1><%= fa_icon 'bolt', text: @mini_title %></h1>
  <% end %>
</div>

<%= render :partial => 'shared/forms/feed_item_bookmarklet' %>
