- feed_items.each_slice(2) do |sliced_items|
  .row.feed-item-grid
    - sliced_items.each do |feed_item|
      = render partial: 'feed_items/grid_item', as: :feed_item, object: feed_item
.text-center
  = render partial: 'shared/paginate', object: feed_items, as: :results
