<div class="feed-item-tag-list">
  <% unless @feed_item.all_tags_on(@hub.tagging_key).empty? %>
    <%= raw @feed_item.all_tags_on(@hub.tagging_key).collect{|t| tag_display(t, hub: @hub, hub_feed_item: @feed_item) }.join(' ') %>
  <% end %>
</div>

