.feed-item-tag-list
  - unless @feed_item.all_tags_on(@hub.tagging_key).empty?
    = raw (@feed_item.all_tags_on(@hub.tagging_key) - @hub.deprecated_tags ).collect{|t| tag_display(t, hub: @hub, hub_feed_item: @feed_item, allow_remove: params.dig(:allow_remove)) }.join(' ')
