<% if ! @hub_feed.blank? %>
  <%= documentation('hub-feed-tag-cloud') %>
<% else %>
  <%= documentation('hub-tag-cloud') %>
<% end %>
<h3>Filter Tags</h3>
<h4>By Usage Frequency</h4>
<div id="slider_controls">
  <div style="float: left">Less Frequent</div>
  <div style="float: right;">More Frequent</div>
</div>
<div class="clear"></div>

<div id="tag_slider"></div>

<h4>By Keyword</h4>
<div style="margin-bottom: 1em;">
  <input id="filter_by" size="15" placeholder="Keyword..." /> <a class="button" id="filter_button" href="#">Filter</a> <a href="#" id="reset_filter">Reset</a>
</div>


<% tag_cloud(@tags, %w(s1 s2 s3 s4 s5 s6 s7 s8 s9 s10)) do |tag, css_class| %>
  <%= tag_display(tag,:hub => @hub, :hub_feed => @hub_feed, :class => css_class) %>
<% end %>

<%= javascript_tag "$(document).ready(function(){$.observeTagCloudControls()});" %>
