.jumbotron.text-center
  %h1 500 Internal Server Error

  %p We're sorry, but something went wrong.
  %p We've been notified about this issue and we'll take a look at it shortly.
  = link_to 'Home', root_path, class: 'btn btn-lg btn-primary', role: 'button'
