<h1>Edit the feed: "<%= @hub_feed %>"</h1>
<% unless @hub_feed.feed.is_bookmarking_feed? %>
<dl class="metadata">
  <dt>Feed URL:</dt>
  <dd><%= link_to(@hub_feed.feed.feed_url,@hub_feed.feed.feed_url, :target => '_blank') %></dd>
</dl>
<% end %>
<%= render :partial => 'shared/forms/hub_feed' %>
