<h1>Feeds used in hubs</h1>

<div id="hub_feed_list">
  <%= render :partial => 'shared/line_items/hub_feed', :collection => @hub_feeds, :locals => {:show_hubs => true} %>
</div>

<%= will_paginate %>
