<div class="feed_retrievals">
  <% if @feed_retrievals.blank? %>
    <h2>None found.</h2>
  <% else %>
    <ul>
      <%= render :partial => 'shared/line_items/feed_retrieval', :collection => @feed_retrievals %>
    </ul>
  <% end %>
</div>
