<div class="feed_retrievals">
  <h1>Update history for "<%= @hub_feed %>"</h1>
  <% if @feed_retrievals.blank? %>
    <h2>None found.</h2>
  <% else %>
    <table>
      <tr>
        <th>At:</th>
        <th>New:</th>
        <th>Changed:</th>
      </tr>
      <%= render :partial => 'shared/line_items/feed_retrieval', :collection => @feed_retrievals %>
    </table>
  <% end %>
</div>
