%p We're sorry that we cannot accept your request at this time. Please remember that the Harvard instance of TagTeam is limited to academic or research projects, and that you don't need an account in order to read the feeds from its hubs. Also remember that the TagTeam code is open, and that anyone may host another instance of TagTeam elsewhere.

%p If you planned to create a new academic or research project on the Harvard instance of TagTeam, or join an existing project, then please tell us more about your plans.
