<tr class="feed_retrieval <%= (feed_retrieval.success) ? 'success' : 'failure' %>">
  <td>
    <%= link_to(l(feed_retrieval.created_at, :format => :date_and_time_short), hub_feed_feed_retrieval_path(@hub_feed, feed_retrieval)) %>
  </td>
  <% if feed_retrieval.has_changes? %> 
    <td>
      <% unless feed_retrieval.new_feed_items.empty? %>
        <%= feed_retrieval.new_feed_items.length %> new<br/>
      <% end %>
    </td>
    <td>
      <% unless feed_retrieval.changed_feed_items.empty? %>
        <%= feed_retrieval.changed_feed_items.length %> updated<br/>
      <% end %>
    </td>
  <% else %>
    <td colspan="2" class="no_changes"></td>
  <% end %>
</tr>
