<li class="feed_retrieval <%= (feed_retrieval.success) ? 'success' : '' %>">
at <%= feed_retrieval.created_at %>, status code: <%= feed_retrieval.status_code %>, changelog: <%= feed_retrieval.changelog %>
</li>
