<tr class="feed_retrieval <%= (feed_retrieval.success) ? 'success' : 'failure' %>">
  <td>
    <%= link_to(l(feed_retrieval.created_at, :format => :date_and_time_short), feed_retrieval_path(feed_retrieval)) %>
  </td>
  <td>
    <% # FIXME %>
    <% unless feed_retrieval.new_feed_items.empty? %>
      <%= feed_retrieval.new_feed_items.length %>
    <% end %>
  </td>
</tr>
