<tr class="feed_retrieval <%= (feed_retrieval.success) ? 'success' : 'failure' %>">
  <td>
    <%= l(feed_retrieval.created_at, :format => :date_and_time_short) %>
  </td>
  <td>
    <%= feed_retrieval.changelog %>
  </td>
</tr>
