<div class="hub">
  <h2 class="title"><%= link_to hub.title, hub_path(hub) %></h2>
  <% unless hub.description.blank? %>
      <div class="description"><%= raw(hub.description) %></div>
    <% end %>
</div>
