<div class="input_source">
  <% if [Feed,FeedItem].include?(input_source.item_source.class) %>
    <%= raw input_source.item_source.mini_icon %> <%= link_to(input_source.item_source.to_s, input_source.item_source, :class => input_source.item_source.class.to_s.tableize.singularize) %>
  <% else %>
    <%= raw input_source.item_source.mini_icon %> <%= link_to(input_source.item_source.to_s, input_source.item_source, :class => 'tag') %>
  <% end %>
</div>
