%li.republished_feed{:id => "republished_feed_#{republished_feed_choice.id}"}
  = link_to(republished_feed_choice.title,hub_republished_feed_path(@hub,republished_feed_choice), :target => '_blank', :data_id => republished_feed_choice.id, :class => 'choose_republished_feed')
