<div class="republished_feed hover_row" id="republished_feed_<%= republished_feed_choice.id %>">
  <div class="grid_1 alpha">
  </div>
  <div class="grid_12"> 
    <span class="ui-silk inline ui-silk-rss-go"></span> <%= link_to(republished_feed_choice.title,republished_feed_path(republished_feed_choice)) %>
  </div>
  <div class="clear"></div>
</div>
