.bookmarklet {
  h1 {
    font-size: $font-size-h2;
    .fa {
      font-size: $font-size-h2;
      color: black;
    }
  }

  .feed-item-existing-tags {
    margin-bottom: 1em;
  }

  .bookmarklet-autocomplete-spinner {
    margin-left: 5px;
  }
}
.basic-advance-option {
  display: inline-block;
  width: 100%;
  text-align: center;
  ul {
    display: inline-block;
  }
}
.add-item-submit {
  position: relative;
  bottom: 70px;
}