.footer {
  margin: 25px auto 10px;
  width: 940px;
  border-top: 2px solid black;
  padding-top: 30px;
  text-align: center;

  .ll-logo {
    margin-bottom: 24px;
  }
  p {
    max-width: 700px;
    line-height: 2em;
    margin: 0 auto;
  }
  a {
    text-decoration: underline;
    color: $brand-primary;
  }
}
