@import "variables.less";

.hub-header {
  padding: 3*@padding-large-vertical 0;
  font-size: @font-size-small;
  border-bottom: @border;

  h1 {
    font-size: @font-size-h2;
  }
}

.export_menu {
  position: relative;
  top: @padding-large-vertical;
}

.hub {
  &.detailed {
    margin-top: @padding-small-vertical;
    border-top: @border;
  }
}

.feed-item {
  border-bottom: @border;
  padding-bottom: @padding-large-vertical;

  h2 {
    font-size: @font-size-h3;
  }
  p {
    overflow-x: hidden;
    text-overflow: ellipsis;

    a {
      color: @gray;
    }
  }
  .date {
    margin-left: @padding-large-horizontal;
  }
  .fa {
    color: @gray-lightish;
  }
  a {
    .fa {
      &:hover {
        color: @gray;
      }
    }
  }
}

.feed-item-view {
  border-bottom: @border;
}
