@import "my_vars.less";

.hub-header {
  padding: 3*@padding-large-vertical 0;
  font-size: @font-size-small;
  border-bottom: @border;

  h1 {
    font-size: @font-size-h2;
  }
}

.export_menu {
  position: relative;
  top: @padding-large-vertical;
}

.hub {
  &.detailed {
    margin-top: @padding-small-vertical;
    border-top: @border;
  }
}

.feed-item-grid {
  border-bottom: 1px solid @gray;
  overflow: hidden;
}

.feed-item {
  border-bottom: @border;
  padding-bottom: @padding-large-vertical;

  &.grid-item {
    padding: 0;
    border: 0;

    &:first-child {
      img {
        border-right: 1px solid @gray;
      }
      .feed-item-content {
        border-right: @border;
      }
    }

    .feed-item-content {
      padding: 2*@padding-large-vertical @padding-base-horizontal;

      &.equal-height {
        margin-bottom: -99999 + 2*@padding-large-vertical;
        padding-bottom: 99999px;
      }

      h2 {
        margin: 0;
      }
    }
  }

  h2 {
    font-size: @font-size-h3;
  }
  p {
    overflow-x: hidden;
    text-overflow: ellipsis;

    a {
      color: @gray;
    }
  }
  .date {
    margin-left: @padding-large-horizontal;
  }
  .fa {
    color: @gray-lightish;
  }
  a {
    .fa {
      &:hover {
        color: @gray;
      }
    }
  }
}

.feed-item-view {
  border-bottom: @border;
  height: @pill-height;

  .input-group {
    margin-top: @pill-height/8;
  }

  .views {
    a {
      line-height: @pill-height;
      vertical-align: middle;
      margin-right: @padding-base-horizontal;

      &.active {
        .fa {
          color: @brand-primary;
        }
      }
    }
  }

  .pagination {
    margin: @pill-height/8 0 0;
  }

  .fa {
    color: @gray-light;
  }

  &.grid-view {
    border-color: @gray;
  }
}

#tag_cloud {
  li {
    border: 0;
  }

  .tag-count {
    color: @gray;
  }

  .tag-graph-bar {
    height: 6px;
    background-color: @brand-success;
  }
}
#reset_filter {
  line-height: 2.3em;
  vertical-align: middle;
}

.tag_filter_controls {
  margin-top: 0 !important;

  li {
    border: 0;
    padding: @padding-base-vertical 0 0;

    &:first-child {
      border: 0;
    }
  }
}

.hub_tag_filters {
  margin-top: 0 !important;
}

.tag_filter {
  .fa {
    font-size: @font-size-h2;
    line-height: 1.3em;
  }

  &.delete {
    .filter-action {
      color: @brand-danger;
    }
  }

  &.modify {
    .filter-action {
      color: @gray;
    }
  }

  &.add {
    .filter-action {
      color: @brand-success;
    }
  }
}

.tab-content {
  .hub-filters-title {
    margin-bottom: 0;
    border: 0;
  }
}
