body {
  font-weight: 300;
  overflow-y: scroll;
}

th, dt, b, strong, label {
  font-weight: 400;
}

.fa {
  font-size: $font-size-large;
  color: $gray-light;
}

.btn {
  .fa {
    color: white !important;
  }
}

.navbar {
  font-weight: normal;
  margin-bottom: 0;
  &.navbar-static-top {
    z-index: 2;
  }

  .welcome {
    color: $gray-lighter;

    a {
      color: $gray-lighter;
    }
  }

  .navbar-brand {
    font-weight: 300;
  }
}

.breadcrumbs {
  border-bottom: $border;
  padding: $padding-large-vertical 0;

  a {
    color: black;
  }
  .first {
    color: $gray;
  }
  .separator {
    margin: 0 0.5*$padding-small-horizontal;

    .fa {
      font-size: $font-size-small;
      color: $gray-light;
    }
  }
}

.pill-container {
  padding: 0;
}
.nav-pills.nav-stacked {

  > li {
    margin-top: 0;
    height: $pill-height;
    line-height: $pill-height;
    vertical-align: middle;

    &:hover {
      background-color: $gray-lighter;

      > a {
        &.doc-control {
          .fa {
            color: $gray-light;
          }
        }
      }
    }

    &:after {
      height: 1px;
      background: $gray-lightish;
      width: 85%;
      display: block;
      margin: 0px $nav-pill-padding-horizontal;
      content: "";
    }

    &.active {
      font-weight: 500;
      background-color: $brand-primary;

      &:after {
        height: 0;
      }
      .nav-pill-arrow {
        display: block;
      }

      .doc-control {
        .fa {
          color: white;
        }
      }

      &:hover {
        > a {
          &.doc-control {
            .fa {
              color: white;
            }
          }
        }
      }
    }

    &.last-of-section {
      + li {
        margin-top: 6px;
      }
      &:after {
        height: 7px;
        background: transparent;
        border: $border;
        border-width: 1px 0;
      }
    }

    &.search-pill {
      padding: $nav-pill-padding-vertical $nav-pill-padding-horizontal;

      &:hover {
        background-color: transparent;
      }

      &:after {
        height: 0;
      }
      .input-group {
        line-height: 100%;
      }
    }

    > a {
      display: inline-block;
      white-space: nowrap;
      padding: 0 $nav-pill-padding-horizontal;

      &:hover {
        background-color: transparent;
      }

      &:nth-child(2) {
        width: $nav-pill-link-percent-width;
      }

      &.doc-control {
        float: right;
        width: 100 - $nav-pill-link-percent-width;

        &:hover {
          .fa {
            color: $gray;
          }
        }

        .fa {
          position: relative;
          top: $font-size-base / 7;
          color: transparent;

        }
      }
    }
  }
}

.nav-pill-arrow {
  position: absolute;
  top: 0;
  right: -1*$arrow-width;
  width: 0;
  height: 0;
  border-top: $pill-height/2 solid transparent;
  border-bottom: $pill-height/2 solid transparent;
  border-left: $arrow-width solid $brand-primary;
  display: none;
  z-index: 10;

  &:before {
    content: " ";
    height: $pill-height - 3;
    background-color: $brand-primary;
    width: 5px;
    position: absolute;
    top: -1*$arrow-width - 4;
    left: -1*$arrow-width - 4;
  }
}

.nav-stacked > li + li {
  margin-top: 0;
}

.tab-layout {
  .tab-content {
    padding-left: 0;
    padding-right: 0;
    border-left: $border;
    border-right: $border;
    min-height: 500px;

    h1 {
      border-bottom: $border;
      font-size: $font-size-h2;
      padding-bottom: 2*$padding-large-vertical;
      margin-bottom: 2*$padding-large-vertical;
      margin-top: 6*$padding-large-vertical;

      &:first-child {
        margin-top: 2*$padding-large-vertical;
      }
    }

    label {
      font-weight: 300;
      font-size: $font-size-h3;
      padding-bottom: $padding-large-vertical;
    }

    ul {
      &.nicely-padded {
        margin-top: 4*$padding-large-vertical;
        li {
          padding: 3*$padding-small-vertical 0 2*$padding-base-vertical;
          border-bottom: $border;
          overflow: hidden;

          &:first-child {
            border-top: $border;
          }

          h2 {
            margin: 0 0 $padding-small-vertical;
            font-size: $font-size-h3;
          }

          .feed-item-tags {
            margin-top: $padding-large-vertical;
          }
        }
      }

      &.flush-top {
        margin-top: 0;

        li:first-child {
          border-top: 0;
        }
      }
    }

    .row {
      margin: 0;
    }

    div.nicely-padded {
      padding-top: 2.5*$padding-large-vertical;
      padding-bottom: 2*$padding-large-vertical;
      @include make-md-column-offset(1);
      @include make-md-column(11);
      padding-right: percentage((1 / $grid-columns));
    }

    .pagination {
      margin-bottom: $padding-small-vertical;
    }
  }
}

.tag {
  background: $gray-light;
  color: white;
  padding: 2px $padding-large-horizontal 4px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 10px;
  font-weight: normal;
  line-height: 2.5em;
  white-space: nowrap;

  &:hover, &:focus {
    text-decoration: none;
    background: $gray;
    color: white;
  }
}

.alert {
  margin-top: $padding-large-vertical;
}

.bt-wrapper {
  color: white;
  font-weight: normal;

  a {
    color: white;
  }

  hr {
    border-top: 0;
    & + li {
      border-top: 1px solid lighten($gray, 10%);
    }
  }
  ul.list-unstyled {
    margin: 0;

    li {
      padding: $padding-large-vertical $padding-base-horizontal;
      border-bottom-color: lighten($gray, 10%);
      &.top-spacer {
        border-top: 1px solid lighten($gray, 10%);
        margin-top: 5px;
        padding-top: 15px;
      }
      &.bottom-spacer {
        border-bottom: 1px solid lighten($gray, 10%);
        margin-bottom: 5px;
        padding-bottom: 15px;
      }

      &:first-child {
        border-top: 0;
      }

      &:last-child {
        border: 0;
      }

      .fa {
        padding-right: 0.5*$padding-base-horizontal;
        color: white;

        &.text-warning {
          color: $brand-warning;
        }
        &.text-danger {
          color: $brand-danger;
        }
      }
    }
  }
}

.btn {
  .fa {
    color: white;
    margin-right: $padding-small-horizontal;
  }
}

.pagination {
  > li {
    > span, a {
      > .fa {
        vertical-align: bottom;
        color: $gray-lightish;
      }
    }
  }

  .next, .prev {
    &.disabled {
      span {
        background-color: $gray-lighter;
      }
    }
  }

  .active {
    span {
      font-weight: bold;
    }
  }
}

.pagination-counts,
.pagination-per-page {
  display: inline-block;
  position: relative;
  top: -1.2em;
  padding-left: $padding-base-horizontal;
}

#new_tag_container {
  margin-bottom: 1em;
}

body > .container {
  position: relative;
}
#spinner {
  position: absolute;
  right: 0;
  top: 8px;
  font-size: $font-size-h2;
  color: $brand-success;
}

.controls {
  padding: 1em $popup-padding-horizontal 0.6em;

  h3 {
    margin-bottom: 0;
  }

  hr {
    border-top: 1px solid $gray-lite;
    margin: 0.2em -1*$popup-padding-horizontal 0.5em;
  }

  ul {
    padding-left: 2em;
  }

  .tag-name {
    white-space: nowrap;
  }

  div.row.export-formats {
    margin-top: 0.8em;

    div {
      padding: 0 0.4em;
      text-align: center;

      &:nth-of-type(2) {
        &:after, &:before {
          color: $gray-lite;
          content: "|";
        }
        &:after {
          margin-left: $popup-export-spacer-margin;
        }
        &:before {
          margin-left: -1*$popup-export-spacer-margin;
          padding-right: $popup-export-spacer-margin;
        }
      }

      &:first-of-type {
        text-align: left;
      }

      &:last-of-type {
        text-align: right;
      }
    }
  }

  .tag_filter {
    &.delete {
      .filter-action {
        color: lighten($brand-danger, 15%);
      }
    }

    &.modify {
      .filter-action {
        color: lighten($gray, 30%);
      }
    }

    &.add {
      .filter-action {
        color: lighten($brand-success, 5%);
      }
    }
  }
}

abbr[title="required"] {
  border: 0;
  color: $gray-light;
}

.help-block {
  color: $gray-lite;
  font-size: 0.9em;
  margin-top: 2px;
}

.control-label {
  font-weight: 300;
  margin-bottom: 2px;
}

.btn-lg {
  margin-top: 4*$padding-large-vertical;
  padding: 2*$padding-base-vertical 6*$padding-large-horizontal;
}
.published_date {
  position: relative;
  left: 20px;
  top: 4px;
}
.day-selction{
  margin-top: 5px;
}
.unsubscribed-select {
  position: absolute;
  top: 50px;
  right: 80px;
}
.tab-layout .tab-content ul.nicely-padded.delimiter-list {
  margin-top: 5px;
}
