<div class="feed search_result" id="feed_<%= feed.id %>">
  <div class="grid_1 alpha">select</div>
  <div class="grid_2"><span class="ui-silk inline ui-silk-feed"></span> Feed:</div>
  <div class="grid_5 omega"><%= link_to(raw(strip_tags(feed.to_s)), feed_path(feed)) %></div>
</div>
