<div class="feed_item search_result" id="feed_item_<%= feed_item.id %>">
  <div class="grid_2 alpha"><span class="ui-silk inline ui-silk-add add_item_source"  title="Add this item as an input source" id="FeedItem-<%= feed_item.id %>"></span> Item:</div>
  <div class="grid_6 omega"><span id="FeedItem-<%= feed_item.id %>-link"><span class="ui-silk inline ui-silk-application-view-list"></span> <%= link_to(raw(strip_tags(feed_item.to_s)), feed_item_path(feed_item)) %></span></div>
</div>
