<div class="feed_item_tag search_result" id="tag<%= tag.id %>">
  <div class="grid_2 alpha"><span class="ui-silk inline ui-silk-add add_item_source" title="add this tag as an input source" id="FeedItemTag-<%= tag.id %>"></span> Tag:</div>
  <div class="grid_6 omega"><%= link_to(raw(strip_tags(tag.name)), tag_path(tag), :class => 'tag', :id => "Tag-#{tag.id}-link") %></div>
</div>
